@import url("https://fonts.googleapis.com/css?family=PT+Sans|Roboto");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
#movies {
  margin: 10px auto;
  padding: 10px; }

#movies #moviePoster {
  margin: 0px;
  padding: 0px;
  width: 250px;
  height: 250px; }

html, body {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
  height: auto;
  display: block;
  font-family: "PT Sands", sans-serif; }
  html p, body p {
    font-family: "Roboto", sans-serif; }

#aboutInformation, #connectForm {
  width: 200px;
  margin: 10px auto; }
  #aboutInformation h2, #connectForm h2 {
    font-family: "PT Sands", sans-serif;
    color: #01d277; }
  #aboutInformation p, #connectForm p {
    font-family: "Roboto", sans-serif;
    color: #081c24; }

#connectForm h1 {
  color: #01d277;
  width: 100%; }

#connectForm form {
  max-width: 100%;
  display: flex;
  flex-direction: column; }

#container {
  min-height: 100%;
  width: 100%; }
  @media (min-width: 320px) {
    #container {
      min-height: 100%;
      width: 100%; } }

header {
  background-image: url("../search-assets/theatreImage.jpg");
  margin-bottom: 10px;
  width: 100%;
  height: 20em;
  background-size: cover; }
  header .inline-group button {
    height: 38px;
    background: transparent;
    border: none; }
  header .inline-group img {
    width: 75%;
    height: 30px; }
  @media (min-width: 320px) {
    header {
      margin-bottom: 15px;
      width: 100%;
      height: 15em; }
      header h3 {
        margin: 0px; } }
  @media (min-width: 800px) {
    header #searchInfo h3 {
      margin-left: 27%;
      margin-top: 10px; }
    header .inline-group {
      display: flex;
      justify-content: center; }
    header #movie input {
      width: 25%; }
    header #movie button {
      width: 35%; } }

#mogo img {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block; }

@media (min-width: 320px) {
  #mogo {
    justify-content: center; } }

@media (min-width: 800px) {
  #mogo {
    justify-content: flex-start; } }

#mogo h1 {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  color: white;
  font-size: 36px;
  padding: 0px; }
  @media (min-width: 320px) {
    #mogo h1 {
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 24px;
      display: flex;
      justify-content: center;
      margin-left: 10px; } }
  @media (min-width: 800px) {
    #mogo h1 {
      display: inline-flex;
      justify-content: flex-start;
      margin-left: 10px; } }

#resultsHeader {
  background-color: #081c24;
  color: #E5E5E5;
  padding: 10px;
  display: inline;
  border-radius: 10px; }
  @media (min-width: 320px) {
    #resultsHeader {
      width: 100%; } }

@media (min-width: 320px) {
  #hamburger img {
    width: 25px;
    height: 25px;
    background: transparent; } }

@media (min-width: 320px) {
  .menuResponsive a {
    margin: 10px;
    width: 100%;
    color: white;
    border: 10px;
    clear: left;
    visibility: visible; } }

#movie input {
  width: 2%;
  margin: 0px;
  padding: 0px; }

#navigation {
  width: 5%;
  float: right;
  color: #E5E5E5;
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  font-family: "PT Sands", sans-serif;
  text-decoration: none;
  flex-direction: row; }
  @media (min-width: 320px) {
    #navigation ul {
      margin: 10px;
      visibility: hidden; }
    #navigation #hamburger {
      visibility: visible; } }
  @media (min-width: 800px) {
    #navigation ul {
      list-style: none;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      visibility: visible; }
    #navigation #hamburger {
      visibility: hidden; } }
  #navigation a {
    color: #E5E5E5;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    font-family: "PT Sands", sans-serif;
    text-decoration: none;
    flex-direction: row; }
  #navigation a:hover {
    color: #01d277; }

@media (min-width: 320px) {
  header img {
    width: 50px; } }

@media (min-width: 800px) {
  header img {
    width: 100px; } }

h1 {
  font-family: "PT Sands", sans-serif;
  color: #E5E5E5;
  display: inline; }

h3 {
  margin-left: 570px;
  margin-bottom: 0px;
  background-color: #081c24;
  color: #E5E5E5;
  width: 280px; }

#movie {
  margin: 0px auto;
  width: 500px;
  background-color: #E5E5E5;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

#results {
  flex-direction: column;
  display: flex;
  margin: 10px 5px;
  width: 100%; }
  #results #movieData {
    margin-bottom: 10px; }

#movies {
  width: 55%;
  display: flex;
  flex-wrap: wrap; }
  #movies #movieTitle {
    color: #01d277; }
  #movies #movieYear {
    color: #E5E5E5; }

h5, h6 {
  background-color: #081c24;
  margin: 0px;
  padding: 2px;
  height: 20px; }

#footer, #moreButton {
  background-color: #081c24;
  color: #01d277;
  width: 100%;
  display: flex;
  justify-content: center; }

#footer h6, #moreButton h6 {
  color: #01d277;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center; }

#footer p, #moreButton p {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #01d277;
  background-color: #081c24;
  margin-bottom: 0%; }

#moreButton {
  width: 10em;
  font-weight: 900;
  margin: 10px auto;
  border-radius: 10px;
  border-style: none;
  padding: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center; }

#moreButton:hover {
  color: white; }
