@import url("https://fonts.googleapis.com/css?family=PT+Sans|Roboto");
#movies {
  margin: 10px auto;
  padding: 10px; }

#movies #moviePoster {
  margin: 0px;
  padding: 0px;
  width: 250px;
  height: 250px; }

html, body {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
  height: auto;
  display: block;
  font-family: "PT Sands", sans-serif; }
  html p, body p {
    font-family: "Roboto", sans-serif; }

#aboutInformation, #connectForm {
  width: 200px;
  margin: 10px auto; }
  #aboutInformation h2, #connectForm h2 {
    font-family: "PT Sands", sans-serif;
    color: #01d277; }
  #aboutInformation p, #connectForm p {
    font-family: "Roboto", sans-serif;
    color: #081c24; }

#connectForm h1 {
  color: #01d277; }

#container {
  min-height: 100%;
  width: 100%; }

header {
  background-image: url("../search-assets/theatreImage.jpg");
  margin-bottom: 10px;
  width: 100%;
  height: 20em;
  background-size: cover; }

#resultsHeader {
  background-color: #081c24;
  color: #E5E5E5;
  padding: 10px;
  display: inline; }

#hamburger {
  margin-left: 10px; }

#navigation {
  /* @include mq(small)
    {
        a
        {
            visibility: hidden;
        }
    }*/
  color: #E5E5E5;
  display: flex;
  margin: 5px;
  justify-content: flex-end;
  font-family: "PT Sands", sans-serif;
  text-decoration: none;
  flex-direction: row; }
  @media (min-width: 300px) {
    #navigation a {
      visibility: hidden;
      color: #E5E5E5;
      display: flex;
      margin: 10px;
      justify-content: flex-end;
      font-family: "PT Sands", sans-serif;
      text-decoration: none;
      flex-direction: row; } }
  @media (min-width: 800px) {
    #navigation a {
      visibility: visible; } }

#Logo {
  margin: 20px; }

h1 {
  font-family: "PT Sands", sans-serif;
  color: #E5E5E5;
  display: inline; }

h3 {
  margin-left: 570px;
  margin-bottom: 0px;
  background-color: #081c24;
  color: #E5E5E5;
  width: 280px; }

#searchInfo .inline-group {
  display: flex;
  justify-content: center; }

#searchButton button {
  width: 50px;
  height: 32px; }

#searchInfo h3 {
  margin-left: 30%;
  margin-bottom: 0px; }

#movie {
  margin: 0px auto;
  width: 500px;
  background-color: #E5E5E5;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

#movieSearchResults {
  flex-direction: column;
  display: flex;
  margin: 10px 5px; }

#movies {
  width: 55%;
  display: flex;
  flex-wrap: wrap; }
  #movies #movieTitle {
    color: #01d277; }
  #movies #movieYear {
    color: #E5E5E5; }

h5, h6 {
  background-color: #081c24;
  margin: 0px;
  padding: 2px;
  height: 20px; }

footer {
  background-color: #081c24;
  width: 100%;
  left: 0; }

p {
  padding: 5px;
  margin-bottom: 10px; }

#footerInfo, #moreButton {
  text-decoration: none;
  display: flex;
  width: 5%;
  justify-content: center;
  color: #01d277;
  background-color: #081c24;
  margin-bottom: 0%; }

#moreButton {
  border-radius: 10px;
  border-style: none;
  padding: 1em;
  width: 10em;
  font-weight: 900; }
