@import url("https://fonts.googleapis.com/css?family=PT+Sans|Roboto");
#movies {
  margin: 10px auto;
  padding: 10px; }

#movies #moviePoster {
  margin: 0px;
  padding: 0px;
  width: 250px;
  height: 250px; }

html, body {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
  height: auto;
  display: block;
  font-family: "PT Sands", sans-serif; }
  html p, body p {
    font-family: "Roboto", sans-serif; }

#aboutInformation, #connectForm {
  width: 200px;
  margin: 10px auto; }
  #aboutInformation h2, #connectForm h2 {
    font-family: "PT Sands", sans-serif;
    color: #01d277; }
  #aboutInformation p, #connectForm p {
    font-family: "Roboto", sans-serif;
    color: #081c24; }

#connectForm h1 {
  color: #01d277; }

#container {
  min-height: 100%;
  width: 100%; }
  @media (min-width: 320px) {
    #container {
      min-height: 100%;
      width: 100%; } }

header {
  background-image: url("../search-assets/theatreImage.jpg");
  margin-bottom: 10px;
  width: 100%;
  height: 20em;
  background-size: cover; }
  header .inline-group button {
    height: 38px;
    background: transparent;
    border: none; }
  header .inline-group img {
    width: 75%;
    height: 30px; }
  @media (min-width: 320px) {
    header {
      background-image: url("../search-assets/theatreImage.jpg");
      margin-bottom: 15px;
      width: 100%;
      height: 15em;
      background-size: cover; }
      header h3 {
        margin: 0px; }
      header #searchInfo h3 {
        margin: 0px; } }
  @media (min-width: 800px) {
    header #searchInfo h3 {
      margin: 0px auto; }
    header .inline-group {
      display: flex;
      justify-content: center; }
    header #movie input {
      width: 25%; }
    header #movie button {
      width: 35%; } }

#resultsHeader {
  background-color: #081c24;
  color: #E5E5E5;
  padding: 10px;
  display: inline; }

@media (min-width: 320px) {
  #hamburger img {
    width: 25px;
    height: 25px; } }

#navigation {
  color: #E5E5E5;
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  font-family: "PT Sands", sans-serif;
  text-decoration: none;
  flex-direction: row; }
  @media (min-width: 320px) {
    #navigation a {
      margin: 10px;
      visibility: hidden; }
    #navigation #hamburger {
      visibility: visible; } }
  @media (min-width: 800px) {
    #navigation a {
      visibility: visible; }
    #navigation #hamburger {
      visibility: hidden; } }
  #navigation a {
    color: #E5E5E5;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    font-family: "PT Sands", sans-serif;
    text-decoration: none;
    flex-direction: row; }

@media (min-width: 320px) {
  header img {
    width: 50px; } }

@media (min-width: 800px) {
  header img {
    width: 100px; } }

h1 {
  font-family: "PT Sands", sans-serif;
  color: #E5E5E5;
  display: inline; }

h3 {
  margin-left: 570px;
  margin-bottom: 0px;
  background-color: #081c24;
  color: #E5E5E5;
  width: 280px; }

#searchButton button {
  width: 50px;
  height: 32px; }

#movie {
  margin: 0px auto;
  width: 500px;
  background-color: #E5E5E5;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

#movieSearchResults {
  flex-direction: column;
  display: flex;
  margin: 10px 5px; }
  @media (min-width: 320px) {
    #movieSearchResults #results {
      width: 50%; } }

#movies {
  width: 55%;
  display: flex;
  flex-wrap: wrap; }
  #movies #movieTitle {
    color: #01d277; }
  #movies #movieYear {
    color: #E5E5E5; }

h5, h6 {
  background-color: #081c24;
  margin: 0px;
  padding: 2px;
  height: 20px; }

footer {
  background-color: #081c24;
  width: 100%;
  left: 0; }

p {
  padding: 5px;
  margin-bottom: 10px; }

#footerInfo, #moreButton {
  text-decoration: none;
  display: flex;
  width: 5%;
  justify-content: center;
  color: #01d277;
  background-color: #081c24;
  margin-bottom: 0%; }

#moreButton {
  width: 10em;
  font-weight: 900;
  margin: 10px auto;
  border-radius: 10px;
  border-style: none;
  padding: 1em; }
