@mixin borderRadius
{
  
        border-radius: $border;
        border-style: none;
        padding: 1em;     
}
    @mixin backgroundColorRepeats 
    {
        background-color:$primary-color;

    }

@mixin articleStyle
{
@extend %imageSize;
        #movieTitle
        {
           color:$secondary-color; 
        }
        #movieYear{
            color: $neutral;

        }
    
}
@mixin mq($screenSize)
{
    @if $screenSize==small
    {
        @media(min-width: 320px){@content;}
    }
    @else if $screenSize==medium
    {
        @media(min-width:600px){@content;}
    }
    @else if $screenSize==large
    {
        @media(min-width: 800px){@content;}
    }
}

