%movieSearchResults
{
        
        margin: 10px auto;
        padding: 10px;

}
%imageSize
{
    #moviePoster
    {
        margin:0px;
        padding: 0px;
        width: 250px; 
        height: 250px;
    }
}
