@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto');
$neutral:#E5E5E5;
$primary-color:#081c24;
$secondary-color:#01d277;
$font-stack-title: 'PT Sands', sans-serif;
$font-stack-p:'Roboto', sans-serif; 
$font-paragraph-size: 14px;
$border:10px;
