@import 'layout/navigation';
@mixin mq($screenSize)
{
    @if $screenSize==small
    {
        @media(min-width: 320px){@content;}
    }
    @else if $screenSize==medium
    {
        @media(min-width:600px){@content;}
    }
    @else if $screenSize==large
    {
        @media(min-width: 800px){@content;}
    }
}
html, body{
    background-color: $neutral;
    margin:0;
	padding:0;
    height: auto;
    display: block;
    font-family: $font-stack-title;
    p
    {
        font-family: $font-stack-p;
    }   
}

#aboutInformation
{
    width: 200px;
    margin: 10px auto;
    h2
    {
        font-family: $font-stack-title;
        color: $secondary-color;
    }
    p
    {
        font-family: $font-stack-p;
        color: $primary-color;
    }
}

#connectForm
{
    @extend #aboutInformation;

    h1
    {
        color: $secondary-color;
       
    }
}

#container
{
    min-height:100%;
    width: 100%
}

header
{
    background-image:  url('../search-assets/theatreImage.jpg');
    margin-bottom: 10px;
    width: 100%;
    height: 20em;
    background-size: cover;
    
}

#resultsHeader 
{
    @include backgroundColorRepeats;
    color: $neutral; 
    padding: 10px;
    display: inline;  
}
#hamburger
{
    margin-left: 10px;
}
$desktop: '(min-width: 800px)';
$phone: '(min-width: 300px)';
#navigation 
{ /* @include mq(small)
    {
        a
        {
            visibility: hidden;
        }
    }*/
   
    @include navLayout(flex,$neutral,5px,flex-end,$font-stack-title,none, row);  
   a
   { 
       @media #{$phone}
    {
        visibility: hidden;
        @include navLayout(flex,$neutral,10px,flex-end,$font-stack-title,none, row);
    }
             
   }  
}

#Logo 
{
    
    margin: 20px;
}

h1
{
    font-family: $font-stack-title;
    color: $neutral;
    display: inline;
}

h3
{
    margin-left: 570px; 
    margin-bottom: 0px;
    background-color: $primary-color;
    color: $neutral;
    width: 280px;

}

#searchInfo
{       
    .inline-group
    {
       display: flex;
       justify-content: center;
       
    }
}
#searchButton button
{
    width: 50px;
    height: 32px;
  
}

#searchInfo h3
{
    margin-left: 30%;
    margin-bottom: 0px;
}

#movie
{
    margin: 0px auto;
    width: 500px;
    background-color: $neutral;
    margin: 0px;
    font-family: $font-stack-p;
    font-size: 20px;
        
}

#movieSearchResults
{

    flex-direction: column;
    display: flex;
    margin: 10px 5px;
}   


#movies
{
    @include articleStyle;
    @extend %movieSearchResults;
    width: 55%;
    display: flex;
    flex-wrap: wrap;

}

h5 ,h6
{
    background-color: $primary-color;
    margin: 0px;
    padding: 2px;
    height: 20px;

}

footer
{  
    @include backgroundColorRepeats;
	width:100%;
//	bottom:0;
	left:0;
}

p{
    padding: 5px;
    margin-bottom: 10px;
}

  #footerInfo
{
  
    text-decoration: none;
    display: flex;
    width:5%;
    justify-content: center;
    color: $secondary-color;
    background-color: $primary-color;
    margin-bottom: 0%;
}

#moreButton
{ 
    @include borderRadius;
    @extend #footerInfo;
   // justify-content: center;
    width: 10em;
    font-weight: 900;
}
