@import 'layout/navigation';
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
html, body
{
    background-color: $neutral;
    margin:0;
	padding:0;
    height: auto;
    display: block;
    font-family: $font-stack-title;
    p
    {
        font-family: $font-stack-p;
    }   
}

#aboutInformation
{
    width: 200px;
    margin: 10px auto;
    h2
    {
        font-family: $font-stack-title;
        color: $secondary-color;
    }
    p
    {
        font-family: $font-stack-p;
        color: $primary-color;
    }
}

#connectForm
{
    @extend #aboutInformation;

    h1
    {
        color: $secondary-color;
       
    }
}

#container
{
    @include mq(small)
    {
        min-height:100%;
        width: 100%
    }
    min-height:100%;
    width: 100%
}

header
{   
    background-image:  url('../search-assets/theatreImage.jpg');
    margin-bottom: 10px;
    width: 100%;
    height: 20em;
    background-size: cover;  
    .inline-group
    {
        button
        {
            height: 38px;
            background: transparent;
            border: none;
        }
        img
        {
            width: 75%;
            height: 30px;
        }
    }
    @include mq(small)
    {
        background-image:  url('../search-assets/theatreImage.jpg');
        margin-bottom: 15px;
        width: 100%;
        height:15em;
        background-size: cover;
        h3
        {
            margin: 0px;
        }
        #searchInfo h3
        {
            margin: 0px;
    
        }
    }
    @include mq(large)
    {
        #searchInfo h3
        {
            margin-left: 27%;
            margin-top: 10px;
            
        }   
        .inline-group
        {
            display: flex;
            justify-content: center;

        }
        #movie input
        {
            width: 25%;

        }
        #movie button   
        {
            width: 35%;
        }
    }
}

#mogo img
{    
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;   
    
}

#mogo
{
    @include mq(small)
    {

        justify-content: center;
    }
    @include mq(large)
    {
        
        justify-content: flex-start;
    }
}
#mogo h1
{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: white;
    font-size: 36px;
    padding: 0px;
    @include mq(small)
    {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }
    @include mq(large)
    {
        display: inline-flex;
        justify-content: flex-start;
        margin-left: 10px;
    }
}


#resultsHeader 
{
    @include backgroundColorRepeats;
    background-color: $primary-color;
    color: $neutral; 
    padding: 10px;  
    border-radius: $border;
    margin-left:10px;
    @include mq(small)
    {
        width: 10%;
        display: flex;
        justify-content: center;
    }
}

#hamburger
{
    @include mq(small)
    {
        img
        {
            width: 25px;
            height: 25px;
            background: transparent;
        }     
    }
}

.menuResponsive a
{            
    @include mq(small)
    {
        margin: 10px;    
        width: 100%;
        color: white;
        border: $border;
        clear: left;
        visibility: visible;
    }                                        
}

#movie input
{
   
    width: 2%;
    margin: 0px;
    padding: 0px;
}

#navigation 
{     
    width: 5%;
    float: right;
    @include  mq(small)
    {
        ul
        {
            margin: 10px;
            visibility: hidden; 
        }
        #hamburger
        {
           visibility: visible;
        }
        
    } 
    @include mq(large)
    {        
       ul
        {  
            list-style: none;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            visibility: visible;
        }
        #hamburger
        {
            visibility: hidden;
        }
    }
    a
    {
        @include navLayout(flex,$neutral,5px,flex-end,$font-stack-title,none, row);   
    }
    @include navLayout(flex,$neutral,10px,flex-end,$font-stack-title,none, row); 
    a:hover
    {
        color: $secondary-color;
    }
}

header img
{
    @include mq(small)
    {
        width: 50px;
    }
    @include mq(large)
    {
        width: 100px;
    }
}

h1
{
    font-family: $font-stack-title;
    color: $neutral;
    display: inline;
}

h3
{
    margin-left: 570px; 
    margin-bottom: 0px;
    background-color: $primary-color;
    color: $neutral;
    width: 280px;
    
}
   
#searchButton button
{
    width: 50px;
    height: 32px;
}

#movie
{
    margin: 0px auto;
    width: 500px;
    background-color: $neutral;
    margin: 0px;
    font-family: $font-stack-p;
    font-size: 20px;       
}

#movieSearchResults
{
    @include mq(small)
        {
        
            #results
            {
               width: 50%; 
            }
   
        }
    flex-direction: column;
    display: flex;
    margin: 10px 5px;
}   
  
#movies
{
    @include articleStyle;
    @extend %movieSearchResults;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

h5 ,h6
{
    background-color: $primary-color;
    margin: 0px;
    padding: 2px;
    height: 20px;
}

#footer
{  
    @include backgroundColorRepeats;
    color: $secondary-color;
	width:100%;
    display: flex;
    justify-content: center;
}

#footer h6
{
    color: $secondary-color;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#footer p
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: $secondary-color;
    background-color: $primary-color;
    margin-bottom: 0%;
}

#moreButton
{     
    width: 10em;
    font-weight: 900;
    margin: 10px auto;
    @include borderRadius;
    @extend #footer ;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#moreButton:hover
{
        color: white;
}